<%- include("./partials/header.ejs")%>
<link rel="stylesheet" href="/css/index.css">
<div class="main">
    <div class="context">
    <div class="heading">Welcome to Yelp Camp</div>
    <div class="desc">Explore diffrent corners of world</div>
    <span class="btn-explore"> <a  href="/campground">Explore</a></span>
</div>
</div>

<%- include("./partials/footer.ejs")%>
