<%- include("./partials/header")%>
<link rel="stylesheet" href="/css/login.css">

<div class="form">

<form action="/login" method="post" >
<input type="text" placeholder="username" name="username" id="username">
<input type="password" placeholder="Password" id="password" name="password">

<span class="btn"><button type="submit">Login</button></span>
</form>

</div>

<%- include("./partials/footer")%>