<%- include("./partials/header")%>
<link rel="stylesheet" href="/css/register.css">

<div class="form">

<form action="/signup" method="post" >
<input type="text" placeholder="username" name="username" id="username">
<input type="email" name="email" placeholder="E mail" id="email">
<input type="password" placeholder="Password" id="password" name="password">

<span class="btn"><button type="submit">Sign Up</button></span>
</form>

</div>

<%- include("./partials/footer")%>