form{
    position: relative;
    top:20%;
    margin: 0px auto;
    display: block;
    width: 40%;
}
#comment{
    width: 99%;
    border-radius: 5px;
    padding: 0.8rem;
    font-family: sans-serif;
    font-size: 1.05rem;
}
form button{
    width: 104.8%;
  
    margin-top: 2rem;
    color: ivory;
    background-color: crimson;
    padding: 13px 1.1rem 13px 1.1rem;
    font-size: 1.1rem;
    border-radius: 4px;
    border: none;
}
nav{
    background-color: rgba(220, 20, 60, 0.37);
  
}