.form{
    position: relative;
    top: 30%;
 display: flex;
 justify-content: center;
 align-items: center;
}
form{
    width:30%;
}

input{
  
    border-radius: 4px;
    border: 0.4px solid black;
    width: 96%;
    padding: 7px 0px 3px 10px;
    font-size: 1.11rem;
    margin: 8px 0px;
}

button{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 250, 35);
    border-radius: 4px;
    margin: 30px 0px;
    text-align: center;
    font-size: 1.14rem;
    cursor: pointer;
    padding:12px 10px 12px 10px;
    border: none;
    transition: 0.3s ease;
}

.btn:hover button{
    background-color: rgb(0, 190, 25);
} 

nav{
    background-color: rgb(177, 255, 188);
}