.form{
    position: relative;
    top: 30%;
 display: flex;
 justify-content: center;
 align-items: center;
}
form{
    width:30%;
}

input{
  
    border-radius: 4px;
    border: 0.4px solid black;
    width: 96%;
    padding: 7px 0px 3px 10px;
    font-size: 1.11rem;
    margin: 8px 0px;
}

button{
    width: 100%;
    color: ivory;
    background-color: rgb(252, 60, 34);
    border-radius: 4px;
    margin: 30px 0px;
    text-align: center;
    font-size: 1.14rem;
    cursor: pointer;
    padding:12px 10px 12px 10px;
    border: none;
    transition: 0.3s ease;
}

.btn:hover button{
    background-color: rgb(218, 47, 25);
} 
nav{
    background-color: rgb(255, 189, 180);
}